<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-apipub.ZPM">
    <Module>
      <Name>iris-apipub</Name>
      <Author>
        <Person>Claudio Devecchi</Person>
        <Organization>Intersystems BR</Organization>
        <CopyrightDate>2020</CopyrightDate>
        <License>MIT</License>
      </Author>
      <Version>1.1.78</Version>
      <Description>Publish RESTful API's built with Intersystems IRIS technology, in the simplest and fastest way possible, using the Open API Specification (OAS 3.0) standard.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="apiPub.PKG"/>
      <SystemRequirements Version=">=2019.1" Interoperability="enabled"/>
      <Invokes>
        <Invoke Class="%DeepSee.UserLibrary.Utils" Method="%ProcessContainer">
            <Arg>apiPub.tracer.dashboards</Arg>
            <Arg>1</Arg>
        </Invoke>      
      </Invokes>
       <CSPApplication 
        Url="/crud"
        Recurse="1"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="apiPub.samples.services"
        ServeFiles="1"
        CookiePath="/crud"
        UseCookies="2"
       />
    </Module>
  </Document>
</Export>